In [ ]:
import pandas as pd
import numpy as np

# Sample employee dataset with some missing values
employee_data = pd.DataFrame({
    'Education': ['Bachelors', 'Bachelors', 'Bachelors', 'Masters', np.nan, 'PhD', 'PhD', 'Masters'],
    'JoiningYear': [2017, 2013, 2014, 2016, 2017, np.nan, 2018, 2019],
    'City': ['Bangalore', 'Pune', np.nan, 'Bangalore', 'Pune', 'New Delhi', 'Bangalore', 'Pune'],
    'PaymentTier': [3, 1, 3, np.nan, 3, 2, 1, 3],
    'Age': [34, 28, 38, 27, 24, 32, np.nan, 30],
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female'],
    'EverBenched': ['No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes'],
    'ExperienceInCurrentDomain': [0, 3, 2, 5, 2, 4, 1, np.nan],
    'LeaveOrNot': [0, 1, 0, 1, 1, 0, 1, 0],
    'Salary': [70000, 55000, 60000, 80000, 75000, 85000, 90000, np.nan]
})

print("Sample Employee Data with Missing Values:")
print(employee_data)

# 1. dropna: Dropping rows with any missing values
dropped_data = employee_data.dropna()
print("\nData after dropping rows with missing values:")
print(dropped_data)

# 2. fillna: Filling missing values with specific values
# Filling missing values in 'Age' with the mean age and in 'Salary' with the median salary
filled_data = employee_data.fillna({
    'Age': employee_data['Age'].mean(),
    'Salary': employee_data['Salary'].median(),
    'JoiningYear': employee_data['JoiningYear'].mode()[0],
    'PaymentTier': employee_data['PaymentTier'].mode()[0]
})
print("\nData after filling missing values:")
print(filled_data)

# 3. isnull: Checking for missing values in the DataFrame
missing_check = employee_data.isnull()
print("\nBoolean DataFrame showing missing values:")
print(missing_check)

# 4. notnull: Checking for non-missing values in the DataFrame
non_missing_check = employee_data.notnull()
print("\nBoolean DataFrame showing non-missing values:")
print(non_missing_check)

Sample Employee Data with Missing Values:
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No
2  Bachelors       2014.0        NaN          3.0  38.0  Female          No
3    Masters       2016.0  Bangalore          NaN  27.0    Male          No
4        NaN       2017.0       Pune          3.0  24.0    Male         Yes
5        PhD          NaN  New Delhi          2.0  32.0  Female         Yes
6        PhD       2018.0  Bangalore          1.0   NaN    Male          No
7    Masters       2019.0       Pune          3.0  30.0  Female         Yes

   ExperienceInCurrentDomain  LeaveOrNot   Salary
0                        0.0           0  70000.0
1                        3.0           1  55000.0
2                        2.0           0  60000.0
3                        5.0           1  80000.0
4                        2.0           1  75000.0
5                        4.0           0  85000.0
6                        1.0           1  90000.0
7                        NaN           0      NaN

Data after dropping rows with missing values:
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No

   ExperienceInCurrentDomain  LeaveOrNot   Salary
0                        0.0           0  70000.0
1                        3.0           1  55000.0

Data after filling missing values:
   Education  JoiningYear       City  PaymentTier        Age  Gender  \
0  Bachelors       2017.0  Bangalore          3.0  34.000000    Male
1  Bachelors       2013.0       Pune          1.0  28.000000  Female
2  Bachelors       2014.0        NaN          3.0  38.000000  Female
3    Masters       2016.0  Bangalore          3.0  27.000000    Male
4        NaN       2017.0       Pune          3.0  24.000000    Male
5        PhD       2017.0  New Delhi          2.0  32.000000  Female
6        PhD       2018.0  Bangalore          1.0  30.428571    Male
7    Masters       2019.0       Pune          3.0  30.000000  Female

  EverBenched  ExperienceInCurrentDomain  LeaveOrNot   Salary
0          No                        0.0           0  70000.0
1          No                        3.0           1  55000.0
2          No                        2.0           0  60000.0
3          No                        5.0           1  80000.0
4         Yes                        2.0           1  75000.0
5         Yes                        4.0           0  85000.0
6          No                        1.0           1  90000.0
7         Yes                        NaN           0  75000.0

Boolean DataFrame showing missing values:
   Education  JoiningYear   City  PaymentTier    Age  Gender  EverBenched  \
0      False        False  False        False  False   False        False
1      False        False  False        False  False   False        False
2      False        False   True        False  False   False        False
3      False        False  False         True  False   False        False
4       True        False  False        False  False   False        False
5      False         True  False        False  False   False        False
6      False        False  False        False   True   False        False
7      False        False  False        False  False   False        False

   ExperienceInCurrentDomain  LeaveOrNot  Salary
0                      False       False   False
1                      False       False   False
2                      False       False   False
3                      False       False   False
4                      False       False   False
5                      False       False   False
6                      False       False   False
7                       True       False    True

Boolean DataFrame showing non-missing values:
   Education  JoiningYear   City  PaymentTier    Age  Gender  EverBenched  \
0       True         True   True         True   True    True         True
1       True         True   True         True   True    True         True
2       True         True  False         True   True    True         True
3       True         True   True        False   True    True         True
4      False         True   True         True   True    True         True
5       True        False   True         True   True    True         True
6       True         True   True         True  False    True         True
7       True         True   True         True   True    True         True

   ExperienceInCurrentDomain  LeaveOrNot  Salary
0                       True        True    True
1                       True        True    True
2                       True        True    True
3                       True        True    True
4                       True        True    True
5                       True        True    True
6                       True        True    True
7                      False        True   False

Data cleaning

In [ ]:
# 1. dropna: Dropping columns where all values are missing
dropped_data = employee_data.dropna(axis=1, how='all')
print("\nData after dropping columns with all missing values:")
print(dropped_data)

# 2. fillna with different methods:
# (a) Filling missing values with a constant value
filled_constant = dropped_data.fillna(value=0)
print("\nData after filling missing values with a constant (0):")
print(filled_constant)

# (b) Forward fill (ffill) - fills the missing value with the previous row's value
filled_ffill = dropped_data.fillna(method='ffill')
print("\nData after forward fill (ffill):")
print(filled_ffill)

# (c) Backward fill (bfill) - fills the missing value with the next row's value
filled_bfill = dropped_data.fillna(method='bfill')
print("\nData after backward fill (bfill):")
print(filled_bfill)

# (d) Filling missing values with the mean for numerical columns
filled_mean = dropped_data.fillna(dropped_data.mean(numeric_only=True))
print("\nData after filling missing values with the mean of each column:")
print(filled_mean)

# (e) Filling missing values with the median for numerical columns
filled_median = dropped_data.fillna(dropped_data.median(numeric_only=True))
print("\nData after filling missing values with the median of each column:")
print(filled_median)

# (f) Filling missing values with the mode for categorical columns
filled_mode = dropped_data.apply(lambda col: col.fillna(col.mode()[0]) if col.dtype == 'object' else col)
print("\nData after filling missing values with the mode (most frequent) of each column:")
print(filled_mode)

Data after dropping columns with all missing values:
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No
2  Bachelors       2014.0        NaN          3.0  38.0  Female          No
3    Masters       2016.0  Bangalore          NaN  27.0    Male          No
4        NaN       2017.0       Pune          3.0  24.0    Male         Yes
5        PhD          NaN  New Delhi          2.0  32.0  Female         Yes
6        PhD       2018.0  Bangalore          1.0   NaN    Male          No
7    Masters       2019.0       Pune          3.0  30.0  Female         Yes

   ExperienceInCurrentDomain  LeaveOrNot   Salary
0                        0.0           0  70000.0
1                        3.0           1  55000.0
2                        2.0           0  60000.0
3                        5.0           1  80000.0
4                        2.0           1  75000.0
5                        4.0           0  85000.0
6                        1.0           1  90000.0
7                        NaN           0      NaN

Data after filling missing values with a constant (0):
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No
2  Bachelors       2014.0          0          3.0  38.0  Female          No
3    Masters       2016.0  Bangalore          0.0  27.0    Male          No
4          0       2017.0       Pune          3.0  24.0    Male         Yes
5        PhD          0.0  New Delhi          2.0  32.0  Female         Yes
6        PhD       2018.0  Bangalore          1.0   0.0    Male          No
7    Masters       2019.0       Pune          3.0  30.0  Female         Yes

   ExperienceInCurrentDomain  LeaveOrNot   Salary
0                        0.0           0  70000.0
1                        3.0           1  55000.0
2                        2.0           0  60000.0
3                        5.0           1  80000.0
4                        2.0           1  75000.0
5                        4.0           0  85000.0
6                        1.0           1  90000.0
7                        0.0           0      0.0

Data after forward fill (ffill):
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No
2  Bachelors       2014.0       Pune          3.0  38.0  Female          No
3    Masters       2016.0  Bangalore          3.0  27.0    Male          No
4    Masters       2017.0       Pune          3.0  24.0    Male         Yes
5        PhD       2017.0  New Delhi          2.0  32.0  Female         Yes
6        PhD       2018.0  Bangalore          1.0  32.0    Male          No
7    Masters       2019.0       Pune          3.0  30.0  Female         Yes

   ExperienceInCurrentDomain  LeaveOrNot   Salary
0                        0.0           0  70000.0
1                        3.0           1  55000.0
2                        2.0           0  60000.0
3                        5.0           1  80000.0
4                        2.0           1  75000.0
5                        4.0           0  85000.0
6                        1.0           1  90000.0
7                        1.0           0  90000.0

Data after backward fill (bfill):
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No
2  Bachelors       2014.0  Bangalore          3.0  38.0  Female          No
3    Masters       2016.0  Bangalore          3.0  27.0    Male          No
4        PhD       2017.0       Pune          3.0  24.0    Male         Yes
5        PhD       2018.0  New Delhi          2.0  32.0  Female         Yes
6        PhD       2018.0  Bangalore          1.0  30.0    Male          No
7    Masters       2019.0       Pune          3.0  30.0  Female         Yes

   ExperienceInCurrentDomain  LeaveOrNot   Salary
0                        0.0           0  70000.0
1                        3.0           1  55000.0
2                        2.0           0  60000.0
3                        5.0           1  80000.0
4                        2.0           1  75000.0
5                        4.0           0  85000.0
6                        1.0           1  90000.0
7                        NaN           0      NaN

Data after filling missing values with the mean of each column:
   Education  JoiningYear       City  PaymentTier        Age  Gender  \
0  Bachelors  2017.000000  Bangalore     3.000000  34.000000    Male
1  Bachelors  2013.000000       Pune     1.000000  28.000000  Female
2  Bachelors  2014.000000        NaN     3.000000  38.000000  Female
3    Masters  2016.000000  Bangalore     2.285714  27.000000    Male
4        NaN  2017.000000       Pune     3.000000  24.000000    Male
5        PhD  2016.285714  New Delhi     2.000000  32.000000  Female
6        PhD  2018.000000  Bangalore     1.000000  30.428571    Male
7    Masters  2019.000000       Pune     3.000000  30.000000  Female

  EverBenched  ExperienceInCurrentDomain  LeaveOrNot        Salary
0          No                   0.000000           0  70000.000000
1          No                   3.000000           1  55000.000000
2          No                   2.000000           0  60000.000000
3          No                   5.000000           1  80000.000000
4         Yes                   2.000000           1  75000.000000
5         Yes                   4.000000           0  85000.000000
6          No                   1.000000           1  90000.000000
7         Yes                   2.428571           0  73571.428571

Data after filling missing values with the median of each column:
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No
2  Bachelors       2014.0        NaN          3.0  38.0  Female          No
3    Masters       2016.0  Bangalore          3.0  27.0    Male          No
4        NaN       2017.0       Pune          3.0  24.0    Male         Yes
5        PhD       2017.0  New Delhi          2.0  32.0  Female         Yes
6        PhD       2018.0  Bangalore          1.0  30.0    Male          No
7    Masters       2019.0       Pune          3.0  30.0  Female         Yes

   ExperienceInCurrentDomain  LeaveOrNot   Salary
0                        0.0           0  70000.0
1                        3.0           1  55000.0
2                        2.0           0  60000.0
3                        5.0           1  80000.0
4                        2.0           1  75000.0
5                        4.0           0  85000.0
6                        1.0           1  90000.0
7                        2.0           0  75000.0

Data after filling missing values with the mode (most frequent) of each column:
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No
2  Bachelors       2014.0  Bangalore          3.0  38.0  Female          No
3    Masters       2016.0  Bangalore          NaN  27.0    Male          No
4  Bachelors       2017.0       Pune          3.0  24.0    Male         Yes
5        PhD          NaN  New Delhi          2.0  32.0  Female         Yes
6        PhD       2018.0  Bangalore          1.0   NaN    Male          No
7    Masters       2019.0       Pune          3.0  30.0  Female         Yes

   ExperienceInCurrentDomain  LeaveOrNot   Salary
0                        0.0           0  70000.0
1                        3.0           1  55000.0
2                        2.0           0  60000.0
3                        5.0           1  80000.0
4                        2.0           1  75000.0
5                        4.0           0  85000.0
6                        1.0           1  90000.0
7                        NaN           0      NaN

<ipython-input-15-001894d8a476>:13: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  filled_ffill = dropped_data.fillna(method='ffill')
<ipython-input-15-001894d8a476>:18: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  filled_bfill = dropped_data.fillna(method='bfill')

fillna

In [ ]:
# Filling missing values with specified values
filled_value = data.fillna(value={
    'Education': 'Unknown',
    'JoiningYear': 2015,
    'City': 'Unknown',
    'PaymentTier': 2,
    'Age': 30,
    'Gender': 'Unknown',
    'Salary': 55000
})

print("\nFilled missing values with specified values:")
print(filled_value)

Filled missing values with specified values:
      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]

ffill and bfill

In [ ]:
# Forward fill: fills missing values with the last known non-null value
filled_ffill = data.fillna(method='ffill')
print("\nForward fill (ffill):")
print(filled_ffill)

# Backward fill: fills missing values with the next known non-null value
filled_bfill = data.fillna(method='bfill')
print("\nBackward fill (bfill):")
print(filled_bfill)

Forward fill (ffill):
      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]

Backward fill (bfill):
      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]

<ipython-input-17-481e5af0bb19>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  filled_ffill = data.fillna(method='ffill')
<ipython-input-17-481e5af0bb19>:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  filled_bfill = data.fillna(method='bfill')

In [ ]:
# Row-wise fill: fills missing values across rows
filled_row_wise = data.fillna(method='ffill', axis=1)
print("\nRow-wise forward fill (axis=1):")
print(filled_row_wise)

<ipython-input-19-1b0b13eff015>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  filled_row_wise = data.fillna(method='ffill', axis=1)

Row-wise forward fill (axis=1):
      Education JoiningYear       City PaymentTier Age  Gender EverBenched  \
0     Bachelors        2017  Bangalore           3  34    Male          No
1     Bachelors        2013       Pune           1  28  Female          No
2     Bachelors        2014  New Delhi           3  38  Female          No
3       Masters        2016  Bangalore           3  27    Male          No
4       Masters        2017       Pune           3  24    Male         Yes
...         ...         ...        ...         ...  ..     ...         ...
4648  Bachelors        2013  Bangalore           3  26  Female          No
4649    Masters        2013       Pune           2  37    Male          No
4650    Masters        2018  New Delhi           3  27    Male          No
4651  Bachelors        2012  Bangalore           3  30    Male         Yes
4652  Bachelors        2015  Bangalore           3  33    Male         Yes

     ExperienceInCurrentDomain LeaveOrNot
0                            0          0
1                            3          1
2                            2          0
3                            5          1
4                            2          1
...                        ...        ...
4648                         4          0
4649                         2          1
4650                         5          1
4651                         2          0
4652                         4          0

[4653 rows x 9 columns]

In [ ]:
# Filling missing values in place; original DataFrame is modified
data.fillna(value={'Salary': 50000}, inplace=True)
print("\nIn-place fill for missing Salary with 50000:")
print(data)

In-place fill for missing Salary with 50000:
      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]

**Data Transformation**

In [ ]:
# Check for duplicate rows
duplicates = employee_data.duplicated()
print("Duplicate Rows:")
print(duplicates)

# Drop duplicate rows
employee_data_cleaned = employee_data.drop_duplicates()

# Display the cleaned dataset
print("\nCleaned Employee Data:")
print(employee_data_cleaned)

Duplicate Rows:
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

Cleaned Employee Data:
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No
2  Bachelors       2014.0        NaN          3.0  38.0  Female          No
3    Masters       2016.0  Bangalore          NaN  27.0    Male          No
4        NaN       2017.0       Pune          3.0  24.0    Male         Yes
5        PhD          NaN  New Delhi          2.0  32.0  Female         Yes
6        PhD       2018.0  Bangalore          1.0   NaN    Male          No
7    Masters       2019.0       Pune          3.0  30.0  Female         Yes

   ExperienceInCurrentDomain  LeaveOrNot   Salary
0                        0.0           0  70000.0
1                        3.0           1  55000.0
2                        2.0           0  60000.0
3                        5.0           1  80000.0
4                        2.0           1  75000.0
5                        4.0           0  85000.0
6                        1.0           1  90000.0
7                        NaN           0      NaN

**Transforming Data Using a Function or Mapping **

In [ ]:
# Function to categorize age
def categorize_age(age):
    if pd.isna(age):
        return 'Unknown'
    elif age < 25:
        return 'Young'
    elif 25 <= age < 35:
        return 'Mid-age'
    else:
        return 'Senior'

# Apply the function to the Age column
employee_data['AgeCategory'] = employee_data['Age'].apply(categorize_age)

print("Employee Data with Age Categories:")
print(employee_data)

Employee Data with Age Categories:
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No
2  Bachelors       2014.0        NaN          3.0  38.0  Female          No
3    Masters       2016.0  Bangalore          NaN  27.0    Male          No
4        NaN       2017.0       Pune          3.0  24.0    Male         Yes
5        PhD          NaN  New Delhi          2.0  32.0  Female         Yes
6        PhD       2018.0  Bangalore          1.0   NaN    Male          No
7    Masters       2019.0       Pune          3.0  30.0  Female         Yes

   ExperienceInCurrentDomain  LeaveOrNot   Salary AgeCategory
0                        0.0           0  70000.0     Mid-age
1                        3.0           1  55000.0     Mid-age
2                        2.0           0  60000.0      Senior
3                        5.0           1  80000.0     Mid-age
4                        2.0           1  75000.0       Young
5                        4.0           0  85000.0     Mid-age
6                        1.0           1  90000.0     Unknown
7                        NaN           0      NaN     Mid-age

In [ ]:
# Create a mapping dictionary
payment_tier_mapping = {
    1: 'Entry Level',
    2: 'Mid Level',
    3: 'Senior Level'
}

# Map values in the PaymentTier column
employee_data['PaymentTierLabel'] = employee_data['PaymentTier'].map(payment_tier_mapping)

print("\nEmployee Data with Payment Tier Labels:")
print(employee_data)

Employee Data with Payment Tier Labels:
   Education  JoiningYear       City  PaymentTier   Age  Gender EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male          No
1  Bachelors       2013.0       Pune          1.0  28.0  Female          No
2  Bachelors       2014.0        NaN          3.0  38.0  Female          No
3    Masters       2016.0  Bangalore          NaN  27.0    Male          No
4        NaN       2017.0       Pune          3.0  24.0    Male         Yes
5        PhD          NaN  New Delhi          2.0  32.0  Female         Yes
6        PhD       2018.0  Bangalore          1.0   NaN    Male          No
7    Masters       2019.0       Pune          3.0  30.0  Female         Yes

   ExperienceInCurrentDomain  LeaveOrNot   Salary AgeCategory PaymentTierLabel
0                        0.0           0  70000.0     Mid-age     Senior Level
1                        3.0           1  55000.0     Mid-age      Entry Level
2                        2.0           0  60000.0      Senior     Senior Level
3                        5.0           1  80000.0     Mid-age              NaN
4                        2.0           1  75000.0       Young     Senior Level
5                        4.0           0  85000.0     Mid-age        Mid Level
6                        1.0           1  90000.0     Unknown      Entry Level
7                        NaN           0      NaN     Mid-age     Senior Level

In [ ]:
# Replace 'Yes'/'No' with 1/0 in the EverBenched column
employee_data['EverBenched'] = employee_data['EverBenched'].replace({'Yes': 1, 'No': 0})

print("\nEmployee Data with EverBenched as Binary:")
print(employee_data)

Employee Data with EverBenched as Binary:
   Education  JoiningYear       City  PaymentTier   Age  Gender  EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male            0
1  Bachelors       2013.0       Pune          1.0  28.0  Female            0
2  Bachelors       2014.0        NaN          3.0  38.0  Female            0
3    Masters       2016.0  Bangalore          NaN  27.0    Male            0
4        NaN       2017.0       Pune          3.0  24.0    Male            1
5        PhD          NaN  New Delhi          2.0  32.0  Female            1
6        PhD       2018.0  Bangalore          1.0   NaN    Male            0
7    Masters       2019.0       Pune          3.0  30.0  Female            1

   ExperienceInCurrentDomain  LeaveOrNot   Salary AgeCategory PaymentTierLabel
0                        0.0           0  70000.0     Mid-age     Senior Level
1                        3.0           1  55000.0     Mid-age      Entry Level
2                        2.0           0  60000.0      Senior     Senior Level
3                        5.0           1  80000.0     Mid-age              NaN
4                        2.0           1  75000.0       Young     Senior Level
5                        4.0           0  85000.0     Mid-age        Mid Level
6                        1.0           1  90000.0     Unknown      Entry Level
7                        NaN           0      NaN     Mid-age     Senior Level

In [ ]:
# Rename specific columns
employee_data_renamed = employee_data.rename(columns={
    'Education': 'Degree',
    'PaymentTier': 'Salary Tier',
    'EverBenched': 'Has Been Benched'
})

# Display the renamed DataFrame
print("Renamed Employee Data:")
print(employee_data_renamed)

Renamed Employee Data:
      Degree  JoiningYear       City  Salary Tier   Age  Gender  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male
1  Bachelors       2013.0       Pune          1.0  28.0  Female
2  Bachelors       2014.0        NaN          3.0  38.0  Female
3    Masters       2016.0  Bangalore          NaN  27.0    Male
4        NaN       2017.0       Pune          3.0  24.0    Male
5        PhD          NaN  New Delhi          2.0  32.0  Female
6        PhD       2018.0  Bangalore          1.0   NaN    Male
7    Masters       2019.0       Pune          3.0  30.0  Female

   Has Been Benched  ExperienceInCurrentDomain  LeaveOrNot   Salary  \
0                 0                        0.0           0  70000.0
1                 0                        3.0           1  55000.0
2                 0                        2.0           0  60000.0
3                 0                        5.0           1  80000.0
4                 1                        2.0           1  75000.0
5                 1                        4.0           0  85000.0
6                 0                        1.0           1  90000.0
7                 1                        NaN           0      NaN

  AgeCategory PaymentTierLabel
0     Mid-age     Senior Level
1     Mid-age      Entry Level
2      Senior     Senior Level
3     Mid-age              NaN
4       Young     Senior Level
5     Mid-age        Mid Level
6     Unknown      Entry Level
7     Mid-age     Senior Level

**Discretization and Binning**

In [ ]:
# Define bin edges and labels
bins = [20, 25, 30, 35, 40, 100]  # Define age bins
labels = ['20-25', '26-30', '31-35', '36-40', '40+']  # Corresponding labels

# Create a new column 'AgeGroup' by binning the 'Age' column
employee_data['AgeGroup'] = pd.cut(employee_data['Age'], bins=bins, labels=labels, right=False)

print("Employee Data with Age Groups:")
print(employee_data[['Age', 'AgeGroup']])

Employee Data with Age Groups:
    Age AgeGroup
0  34.0    31-35
1  28.0    26-30
2  38.0    36-40
3  27.0    26-30
4  24.0    20-25
5  32.0    31-35
6   NaN      NaN
7  30.0    31-35

In [ ]:
# Create quantile-based bins for the Salary column
employee_data['SalaryGroup'] = pd.qcut(employee_data['Salary'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

print("\nEmployee Data with Salary Groups:")
print(employee_data[['Salary', 'SalaryGroup']])

Employee Data with Salary Groups:
    Salary SalaryGroup
0  70000.0          Q2
1  55000.0          Q1
2  60000.0          Q1
3  80000.0          Q3
4  75000.0          Q2
5  85000.0          Q4
6  90000.0          Q4
7      NaN         NaN

**Detecting and Filtering Outliers**

In [ ]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = employee_data['Salary'].quantile(0.25)
Q3 = employee_data['Salary'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
employee_data['Salary_Outlier'] = (employee_data['Salary'] < lower_bound) | (employee_data['Salary'] > upper_bound)

print("Outliers in Salary detected using IQR:")
print(employee_data[['Salary', 'Salary_Outlier']])

Outliers in Salary detected using IQR:
    Salary  Salary_Outlier
0  70000.0           False
1  55000.0           False
2  60000.0           False
3  80000.0           False
4  75000.0           False
5  85000.0           False
6  90000.0           False
7      NaN           False

In [ ]:
# Filter out outliers based on the Salary_Outlier column
filtered_employee_data = employee_data[~employee_data['Salary_Outlier']]

print("\nFiltered Employee Data (without outliers):")
print(filtered_employee_data)

Filtered Employee Data (without outliers):
   Education  JoiningYear       City  PaymentTier   Age  Gender  EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male            0
1  Bachelors       2013.0       Pune          1.0  28.0  Female            0
2  Bachelors       2014.0        NaN          3.0  38.0  Female            0
3    Masters       2016.0  Bangalore          NaN  27.0    Male            0
4        NaN       2017.0       Pune          3.0  24.0    Male            1
5        PhD          NaN  New Delhi          2.0  32.0  Female            1
6        PhD       2018.0  Bangalore          1.0   NaN    Male            0
7    Masters       2019.0       Pune          3.0  30.0  Female            1

   ExperienceInCurrentDomain  LeaveOrNot   Salary AgeCategory  \
0                        0.0           0  70000.0     Mid-age
1                        3.0           1  55000.0     Mid-age
2                        2.0           0  60000.0      Senior
3                        5.0           1  80000.0     Mid-age
4                        2.0           1  75000.0       Young
5                        4.0           0  85000.0     Mid-age
6                        1.0           1  90000.0     Unknown
7                        NaN           0      NaN     Mid-age

  PaymentTierLabel AgeGroup SalaryGroup  Salary_Outlier
0     Senior Level    31-35          Q2           False
1      Entry Level    26-30          Q1           False
2     Senior Level    36-40          Q1           False
3              NaN    26-30          Q3           False
4     Senior Level    20-25          Q2           False
5        Mid Level    31-35          Q4           False
6      Entry Level      NaN          Q4           False
7     Senior Level    31-35         NaN           False

In [ ]:
from scipy import stats

# Calculate Z-scores for Salary
employee_data['Salary_ZScore'] = stats.zscore(employee_data['Salary'], nan_policy='omit')

# Detect outliers based on Z-scores
employee_data['Salary_ZOutlier'] = abs(employee_data['Salary_ZScore']) > 3

print("\nOutliers in Salary detected using Z-Scores:")
print(employee_data[['Salary', 'Salary_ZScore', 'Salary_ZOutlier']])

Outliers in Salary detected using Z-Scores:
    Salary  Salary_ZScore  Salary_ZOutlier
0  70000.0      -0.300965            False
1  55000.0      -1.565016            False
2  60000.0      -1.143666            False
3  80000.0       0.541736            False
4  75000.0       0.120386            False
5  85000.0       0.963087            False
6  90000.0       1.384437            False
7      NaN            NaN            False

**String Manipulation**

In [ ]:
# Applying string methods to the relevant columns

# Lowercase the Education and City columns
employee_data['Education_lower'] = employee_data['Education'].str.lower()
employee_data['City_lower'] = employee_data['City'].str.lower()

# Check if any strings in the City column contain 'bangalore'
employee_data['City_contains_bangalore'] = employee_data['City'].str.contains('Bangalore', case=False)

# Extract the first letter of Gender
employee_data['Gender_initial'] = employee_data['Gender'].str[0]

# Count occurrences of 'a' in the City column
employee_data['City_a_count'] = employee_data['City'].str.count('a')

# Check if Education starts with 'B'
employee_data['Education_startswith_B'] = employee_data['Education'].str.startswith('B')

# Check if City ends with 'e'
employee_data['City_endswith_e'] = employee_data['City'].str.endswith('e')

# Get length of Education column strings
employee_data['Education_length'] = employee_data['Education'].str.len()

# Split the City column by space (if any) and get the first part
employee_data['City_split'] = employee_data['City'].str.split().str[0]

# Strip any whitespace in Education (though there likely isn't any in this dataset)
employee_data['Education_strip'] = employee_data['Education'].str.strip()

# Apply lower() and upper() for gender
employee_data['Gender_lower'] = employee_data['Gender'].str.lower()
employee_data['Gender_upper'] = employee_data['Gender'].str.upper()

# Display the updated DataFrame
print(employee_data)

   Education  JoiningYear       City  PaymentTier   Age  Gender  EverBenched  \
0  Bachelors       2017.0  Bangalore          3.0  34.0    Male            0
1  Bachelors       2013.0       Pune          1.0  28.0  Female            0
2  Bachelors       2014.0        NaN          3.0  38.0  Female            0
3    Masters       2016.0  Bangalore          NaN  27.0    Male            0
4        NaN       2017.0       Pune          3.0  24.0    Male            1
5        PhD          NaN  New Delhi          2.0  32.0  Female            1
6        PhD       2018.0  Bangalore          1.0   NaN    Male            0
7    Masters       2019.0       Pune          3.0  30.0  Female            1

   ExperienceInCurrentDomain  LeaveOrNot   Salary  ...  \
0                        0.0           0  70000.0  ...
1                        3.0           1  55000.0  ...
2                        2.0           0  60000.0  ...
3                        5.0           1  80000.0  ...
4                        2.0           1  75000.0  ...
5                        4.0           0  85000.0  ...
6                        1.0           1  90000.0  ...
7                        NaN           0      NaN  ...

  City_contains_bangalore Gender_initial City_a_count Education_startswith_B  \
0                    True              M          2.0                   True
1                   False              F          0.0                   True
2                     NaN              F          NaN                   True
3                    True              M          2.0                  False
4                   False              M          0.0                    NaN
5                   False              F          0.0                  False
6                    True              M          2.0                  False
7                   False              F          0.0                  False

   City_endswith_e  Education_length  City_split Education_strip Gender_lower  \
0             True               9.0   Bangalore       Bachelors         male
1             True               9.0        Pune       Bachelors       female
2              NaN               9.0         NaN       Bachelors       female
3             True               7.0   Bangalore         Masters         male
4             True               NaN        Pune             NaN         male
5            False               3.0         New             PhD       female
6             True               3.0   Bangalore             PhD         male
7             True               7.0        Pune         Masters       female

  Gender_upper
0         MALE
1       FEMALE
2       FEMALE
3         MALE
4         MALE
5       FEMALE
6         MALE
7       FEMALE

[8 rows x 29 columns]